/*welcome to my special place*/

body {
  background-color: black;
  color: white;
  font-family: Helvetica, Tahoma, Verdana, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 67px;
  margin-bottom: 1px;  
}